################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/client/x64/Debug
/.vs/thriftTest
/x64/Debug
/server/x64/Debug
